<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

        <button type="button" class="btn btn-info" [routerLink]="['/admin/rols/create']"
            (click)="this.principal = !this.principal" *ngIf="principal">Crear
            rol</button>
        <button type="button" class="btn btn-info" [routerLink]="['/admin/rols']"
            (click)="this.principal = !this.principal" *ngIf="!principal">Mostrar
            lista</button>

        <button type="button" class="btn btn-info" *ngIf="principal">¡General Informe!
        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 40px;" *ngIf="principal">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Nombre rol" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

        </div> -->
    </nav>

    <hr>

    <router-outlet></router-outlet>

</div>