<div class="container-fluid">

    <div class="container-fluid" style="background-color: #ffebcde3; border-radius: 7px;">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Asociados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>SV-01</td>
                    <td>Y</td>
                    <td>Supervidor de areas</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>AC-01</td>
                    <td>Y</td>
                    <td>Encargado de agregar colecciones</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>