<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

        <button type="button" class="btn btn-info">Crear usuario</button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 40px;">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Nombre usuario" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

        </div>
    </nav>

    <hr>

    <div class="container-fluid" style="background-color: #ffebcde3; border-radius: 7px;">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">id</th> -->
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark Otto</td>
                    <td>@mdo</td>
                    <td>markOtto@gmail.com</td>
                    <td>Y</td>
                    <td>SV-01</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob Thornton</td>
                    <td>@fat</td>
                    <td>JacobThornton@gmail.com</td>
                    <td>Y</td>
                    <td>AC-V1</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry Bird</td>
                    <td>@twitter</td>
                    <td>theBird@gmail.com</td>
                    <td>Y</td>
                    <td>SV-01</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>