<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

        <button type="button" class="btn btn-info" [routerLink]="['/admin/collections/form']"
            (click)="this.principal = !this.principal; cleanData()" *ngIf="principal">Crear
            coleccion</button>
        <button type="button" class="btn btn-info" [routerLink]="['/admin/collections']"
            (click)="this.principal = !this.principal" *ngIf="!principal">Mostrar
            lista</button>

    </nav>

    <hr>

    <router-outlet></router-outlet>

</div>